.btn-xxl {
  padding: 0.5rem 2rem;
  font-size: 0.75rem;
}
.header {
  font-size: 5rem;
  color: white;
  line-height: 0.3;
}
.caption {
  font-size: 1rem;
  color: white;
}

#debugging_buttons {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#debugging_buttons .btn-flat {
margin: 0.25rem;
  background-color: purple;
  color: red;
}
